<header class="mdl-layout__drawer">
    {% if theme_show_drawer_title|tobool %}
          <!-- Title -->
      <span class="mdl-layout-title">
          <a class="brand" href="{{ pathto(master_doc) }}">
              {%- if logo %}
              <img class="logo" src="{{ pathto('_static/' + logo, 1) }}" alt="{{ project }}"/>
              {%- else %}
                  {%- if logo_url %}
                      <img class="logo" src="{{ pathto(logo_url, 1) }}" alt="{{ project }}"/>
                  {%- else %}
                      {{ project }} {{logo_url}}
                  {%- endif %}
              {%- endif %}
          </a>
      </span>
    {% endif %}
{% block menu %}
    {% set toctree = toctree(maxdepth=2, collapse=True, includehidden=True) %}
    {% if toctree %}
        <nav class="mdl-navigation">
        {{ toctree }}
        </nav>
    {% else %}
    <!-- Local TOC 
    <nav class="mdl-navigation">{{ toc }}</nav>-->
    {% endif %}
{% endblock %}
</header>